@import "../../../variables";
@import "../SharedStyles";

.stats {
	@include section-styles;

	:global {
		.column {
			@include tablet {
				padding-top: 0;
			}
		}
	}
}

.chart {
	max-width: 968px;
}

.pie-days > div {
	@media (min-width: 1024px) {
		width: 200px;
	}
}

.pie-players > div {
	@media (min-width: 1024px) {
		width: 200px;
	}
}

.title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}
