@import "../../../variables";
@import "../SharedStyles";

.stats {
	@include section-styles;

	:global {
		.column {
			@include tablet {
				padding-top: 0;
			}
		}
	}
}

.chart {
	max-width: 968px;
}

.pie {
	@media (min-width: 768px) and (max-width: 1023px) {
		text-align: center;
	}

	& > div {
		@media (min-width: 768px) {
			display: inline-block;
			width: 230px;
			// width: 200px;
		}
	}
	& > div + div {
		margin-top: 1.5rem;
		@media (min-width: 768px) {
			margin-top: 0;
		}
	}
}

.title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}
