@charset "UTF-8";
@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#home {
  padding-top: 1.5rem; }

.subsection {
  margin-bottom: 1.5rem; }

@media screen and (min-width: 768px), print {
  .stats .column {
    padding-top: 0; } }

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 1.5rem;
  overflow: hidden;
  height: 110px; }
  .thumbnail-list.full-height {
    height: auto; }
  .thumbnail-list img {
    display: inline-block;
    height: 110px;
    width: auto; }
  .thumbnail-list img:hover {
    opacity: 0.85; }
  .thumbnail-list a {
    line-height: 0;
    margin: 2px; }

@media screen and (min-width: 768px), print {
  .title {
    margin-top: 2rem; } }

.title .fas,
.title .far {
  vertical-align: bottom;
  font-size: 14px;
  margin-bottom: 4px; }

.title .title-link {
  display: inline-block;
  margin-left: 0.3em; }

.title a {
  color: #ccc; }
  .title a:hover {
    color: #3273dc; }

.fas,
.far {
  font-size: 1em; }

.recent-plays {
  margin: 0 -1rem 1.5rem -1rem; }
  @media screen and (min-width: 768px), print {
    .recent-plays {
      margin: 0 0 1.5rem 0; } }
  .recent-plays td {
    white-space: nowrap; }
    @media screen and (min-width: 768px), print {
      .recent-plays td {
        padding-left: 1em;
        padding-right: 1em; } }
    .recent-plays td.name, .recent-plays td.players-column {
      white-space: inherit; }
  .recent-plays a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; }
  .recent-plays .players {
    display: inline-block;
    align-items: center; }
    .recent-plays .players img {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-left: 2px; }
  .recent-plays .player {
    display: inline-flex;
    align-items: center; }
  .recent-plays .plays-list {
    border-top: 1px solid #eee;
    line-height: normal; }
  .recent-plays .play {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee; }
    .recent-plays .play:hover {
      background-color: #fafafa; }
    .recent-plays .play:nth-child(even) {
      background-color: #fafafa; }
      .recent-plays .play:nth-child(even):hover {
        background-color: whitesmoke; }
    .recent-plays .play .columns {
      margin-bottom: 0; }
    .recent-plays .play .column + .column {
      padding-left: 0.75rem; }
    .recent-plays .play .location {
      color: #888; }
    .recent-plays .play .players {
      color: #4a4a4a; }
  .recent-plays .new {
    font-style: italic; }
  .recent-plays .winner {
    font-weight: 600; }
  .recent-plays .winner:after {
    content: "🏅";
    opacity: 0.6;
    font-style: normal;
    font-size: 0.85rem; }

@media screen and (min-width: 1088px) {
  .topten {
    width: 90%; } }

.topten .columns + .columns {
  border-top: 1px solid #eee; }

.topten .tag {
  border: 1px solid #ccc; }

.topten .rank {
  width: 70px;
  font-size: 1.6rem;
  margin-top: -0.3em;
  font-weight: 100; }

.topten .thumbnail {
  width: 150px; }
  .topten .thumbnail img {
    max-height: 126px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%; }

.topten .name {
  font-weight: bold; }

.topten .mechanics {
  font-size: 0.8rem;
  font-style: italic; }

.topten .description {
  font-size: 0.8rem; }

.topten .designers {
  font-weight: 500; }

.topten .topten-title {
  margin-top: -6px; }

.topten .topten-subtitle {
  font-size: 0.8rem; }

.topten .topten-title,
.topten .topten-subtitle,
.topten .mechanics {
  display: block; }

.collection,
.most-plays,
.topten-mobile {
  margin: 0 -1rem 1.5rem -1rem; }
  @media screen and (min-width: 768px), print {
    .collection,
    .most-plays,
    .topten-mobile {
      margin: 0 0 1.5rem 0; } }
  .collection table,
  .most-plays table,
  .topten-mobile table {
    width: 100%; }
  .collection thead tr th,
  .most-plays thead tr th,
  .topten-mobile thead tr th {
    vertical-align: bottom; }
  .collection td:first-child,
  .collection th:first-child,
  .most-plays td:first-child,
  .most-plays th:first-child,
  .topten-mobile td:first-child,
  .topten-mobile th:first-child {
    padding-left: 1em; }
  .collection td:last-child,
  .collection th:last-child,
  .most-plays td:last-child,
  .most-plays th:last-child,
  .topten-mobile td:last-child,
  .topten-mobile th:last-child {
    padding-right: 1em; }
  .collection td.duration,
  .collection th.duration,
  .most-plays td.duration,
  .most-plays th.duration,
  .topten-mobile td.duration,
  .topten-mobile th.duration {
    text-align: right; }
  .collection td,
  .most-plays td,
  .topten-mobile td {
    white-space: nowrap; }
    .collection td.name,
    .most-plays td.name,
    .topten-mobile td.name {
      white-space: inherit; }
    .collection td.rating,
    .most-plays td.rating,
    .topten-mobile td.rating {
      text-align: center; }
      @media screen and (min-width: 768px), print {
        .collection td.rating,
        .most-plays td.rating,
        .topten-mobile td.rating {
          text-align: left; } }
    .collection td.rank,
    .most-plays td.rank,
    .topten-mobile td.rank {
      text-align: center; }
  .collection th a,
  .most-plays th a,
  .topten-mobile th a {
    color: #4a4a4a; }
  .collection th.rating,
  .most-plays th.rating,
  .topten-mobile th.rating {
    text-align: center; }
    @media screen and (min-width: 768px), print {
      .collection th.rating,
      .most-plays th.rating,
      .topten-mobile th.rating {
        text-align: left; } }
  .collection .expansions,
  .most-plays .expansions,
  .topten-mobile .expansions {
    display: none;
    position: relative; }
    @media screen and (min-width: 1088px) {
      .collection .expansions,
      .most-plays .expansions,
      .topten-mobile .expansions {
        display: inline-block; } }
  .collection .expansions-tip,
  .most-plays .expansions-tip,
  .topten-mobile .expansions-tip {
    position: absolute;
    z-index: 3;
    white-space: nowrap;
    bottom: 0;
    left: 100%;
    margin-bottom: 0;
    margin-left: 10px;
    opacity: 0;
    visibility: hidden; }
  .collection .expansion-count:hover + .expansions-tip,
  .most-plays .expansion-count:hover + .expansions-tip,
  .topten-mobile .expansion-count:hover + .expansions-tip {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
    visibility: visible; }
  .collection .expansion-count,
  .most-plays .expansion-count,
  .topten-mobile .expansion-count {
    display: inline-block;
    cursor: default;
    color: #999;
    margin-left: 15px;
    font-size: 0.9em;
    border-bottom: 1px dotted #ddd; }

@media screen and (min-width: 768px), print {
  .recent-plays table,
  .collection table,
  .most-plays table,
  .topten-mobile table {
    width: auto; }
  .recent-plays td + td,
  .recent-plays th + th,
  .collection td + td,
  .collection th + th,
  .most-plays td + td,
  .most-plays th + th,
  .topten-mobile td + td,
  .topten-mobile th + th {
    padding-left: 3em; } }

.most-plays-legend {
  font-weight: normal;
  font-size: 1rem; }
  @media screen and (max-width: 767px) {
    .most-plays-legend {
      margin-top: 20px; } }
  @media screen and (min-width: 768px), print {
    .most-plays-legend {
      display: inline-block; } }
  .most-plays-legend div {
    display: inline-block; }
  @media screen and (max-width: 767px) {
    .most-plays-legend .stat:first-child {
      margin-left: 0; } }
  .most-plays-legend .stat {
    margin-left: 1em; }
    .most-plays-legend .stat div {
      padding: 5px 8px;
      border: 1px solid #eee;
      border-radius: 5px; }
    .most-plays-legend .stat .nickels {
      background-color: #fefff5; }
    .most-plays-legend .stat .dimes {
      background-color: #f5fff8; }
    .most-plays-legend .stat .quarters {
      background-color: #f5fcff; }

.most-plays table {
  width: 100%; }
  @media screen and (min-width: 768px), print {
    .most-plays table {
      width: auto;
      min-width: auto; } }
  .most-plays table .nickel {
    background-color: #fefff5; }
  .most-plays table .dime {
    background-color: #f5fff8; }
  .most-plays table .quarter {
    background-color: #f5fcff; }
  @media screen and (min-width: 768px), print {
    .most-plays table td.name {
      padding-right: 2em; } }
  .most-plays table tr:last-child td {
    border-bottom-width: 1px; }

.most-plays .rank {
  width: 0%;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .most-plays .rank {
      display: none; } }

.most-plays .rank + td,
.most-plays .rank + th {
  padding-left: 1em; }
  @media screen and (min-width: 768px), print {
    .most-plays .rank + td,
    .most-plays .rank + th {
      padding-left: 5px; } }

.stars-container {
  display: inline-block;
  position: relative; }

.stars-background {
  color: #ccc; }

.stars-foreground {
  color: rgba(255, 190, 0, 0.4);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden; }

.tabs a:hover {
  text-decoration: none; }

.tabs + .subsection .title {
  margin-top: 0; }

.hidden {
  display: none; }
