@import "../../../variables";

.legend {
	font-weight: normal;
	font-size: 1rem;
	@include mobile {
		margin-top: 20px;
	}
	@include tablet {
		display: inline-block;
	}

	div {
		display: inline-block;
	}

	@include mobile {
		.stat:first-child {
			margin-left: 0;
		}
	}

	.stat {
		margin-left: 1em;

		div {
			padding: 5px 8px;
			border: 1px solid #eee;
			border-radius: 5px;
		}

		.nickels {
			background-color: #fefff5;
		}

		.dimes {
			background-color: #f5fff8;
		}

		.quarters {
			background-color: #f5fcff;
		}
	}
}
