@mixin title-styles {
	:global {
		.title {
			@include tablet {
				margin-top: 1.5rem;
			}

			a {
				color: #ccc;
				&:hover {
					color: $link;
				}
			}
		}
	}

	.link {
		display: inline-block;
		margin-left: 0.3em;

		:global {
			svg,
			i.fas,
			i.far,
			i.fal {
				vertical-align: middle;
				font-size: 14px;
				margin-bottom: 4px;
			}
		}
	}
}

@mixin section-styles {
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	@include tablet {
		padding-top: 0;
	}
}

@mixin table-styles {
	@include tablet {
		table {
			width: auto;
		}

		td + td,
		th + th {
			padding-left: 3em;
		}
	}
}

@mixin game-table-styles {
	margin: 0 -1rem 1.5rem -1rem;
	@include tablet {
		margin: 0 0 1.5rem 0;
	}

	table {
		width: 100%;
		@include tablet {
			width: auto;
			min-width: auto;
		}

		tr:last-child td {
			border-bottom-width: 1px;
		}

		thead tr th {
			vertical-align: bottom;
			a {
				color: $text;
			}
		}

		td,
		th {
			&:first-child {
				padding-left: 1em;
			}

			&:last-child {
				padding-right: 1em;
			}
			&.duration {
				text-align: right;
			}
		}
	}
}
