@import "../../../variables";
@import "../SharedStyles";

.expansions {
	display: none;
	position: relative;
	@include desktop {
		display: inline-block;
	}
}

.tip {
	position: absolute;
	z-index: 3;
	white-space: nowrap;
	bottom: 0;
	left: 100%;
	margin-bottom: 0;
	margin-left: 10px;
	opacity: 0;
	visibility: hidden;
}

.count:hover + .tip {
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 1;
	visibility: visible;
}

.count {
	display: inline-block;
	cursor: default;
	color: #999;
	margin-left: 15px;
	font-size: 0.9em;
	border-bottom: 1px dotted #ddd;
}
