@import "../../../variables";
@import "../SharedStyles";

.list {
	@include desktop {
		width: 90%;
	}

	:global {
		.columns + .columns {
			border-top: 1px solid #eee;
		}
	}

	.rank {
		width: 70px;
		font-size: 1.6rem;
		margin-top: -0.3em;
		font-weight: 100;
	}
	.thumbnail {
		width: 150px;
		img {
			max-height: 126px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			max-width: 100%;
		}
	}
	.name {
		font-weight: bold;
	}
	.mechanics {
		font-size: 0.8rem;
		font-style: italic;
	}
	.description {
		font-size: 0.8rem;
	}

	.designers {
		font-weight: 500;
	}

	.title {
		margin-top: -6px;
	}
	.subtitle {
		font-size: 0.8rem;
	}
	.title,
	.subtitle,
	.mechanics {
		display: block;
	}
}
