@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

html {
  font-size: 16px; }

a:hover {
  text-decoration: underline; }

.section {
  padding: 2rem 1rem; }
  @media screen and (min-width: 768px), print {
    .section {
      padding: 3rem 1.5rem; } }

.title:not(:last-child) {
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px), print {
    .title:not(:last-child) {
      margin-bottom: 1.5rem; } }

.table thead th {
  font-weight: 600;
  color: #4a4a4a;
  border-width: 0 0 1px; }

#masthead {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ececec;
  width: 100%; }
  #masthead a {
    color: #268bd2; }
    #masthead a:hover {
      text-decoration: none; }
  #masthead .navbar-item {
    color: #999;
    align-items: baseline; }
  #masthead .logo {
    font-size: 1.6rem; }
  #masthead .slashes {
    color: #777; }
  #masthead .description {
    margin-left: 1em; }

div.button.is-loading {
  border: none; }
