@import "../../../variables";

.thumbnails {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
	height: 110px;

	&.multi-row {
		height: auto;
	}

	img {
		display: inline-block;
		height: 110px;
		width: auto;
	}

	img:hover {
		opacity: 0.85;
	}

	a {
		line-height: 0;
		margin: 2px;
	}
}
