@import "../variables";

// this file should contain global styles only
html {
	font-size: 16px;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

.title:not(:last-child) {
	margin-bottom: 1rem;
	@include tablet {
		margin-bottom: 1.5rem;
	}
}

.title {
	font-size: 1.2rem;
}

@media (min-width: 768px) {
	.title {
		font-size: 1.5rem;
	}
}

.table {
	thead {
		th {
			font-weight: 600;
			color: $text;
			border-width: 0 0 1px;
		}
	}
}

.is-mobile-only {
	@media (min-width: 768px) {
		display: none;
	}
}
