@import "../../../variables";

.tab-strip {
	padding-top: 0.5rem;
	margin-bottom: 1rem !important;
	a:hover {
		text-decoration: none;
	}
	.svg-inline--fa {
		fill: currentColor;
	}
	svg {
		fill: currentColor;
	}
	.tab-stats svg {
		margin-bottom: -4px;
		height: 24px;
	}
	a > div {
		height: 24px;
		width: 24px;
	}
	a {
		padding: 0.5em 0.75em;
	}
	@media (min-width: 768px) {
		a {
			padding: 0.5em 1em;
		}
	}
}
