@import "../../../variables";

.plays-table {
	:global {
		td {
			white-space: nowrap;
			padding-left: 1em;
			padding-right: 1em;

			&.name,
			&.players-column {
				white-space: inherit;
			}
		}
	}
}
