@import "../../../variables";
@import "../SharedStyles";

.row {
	td {
		white-space: nowrap;

		&.name {
			white-space: inherit;
		}

		&.rating {
			text-align: center;
			@include tablet {
				text-align: left;
			}
		}
	}
}
