<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Board Games</title>
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon.png">
  <link href="/images/favicon.png" rel="shortcut icon">
</head>

<body>
  <nav class="nav" id="masthead">
    <div class="container">
      <div class="nav-left">
        <div class="nav-item">
          <div class="logo"><span class="slashes">// </span>
            <a href="https://blog.ewal.net">Ewal.net</a></div>
          <div class="description is-hidden-mobile">Chronicles of a board game addict...</div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section" id="intro">
    <div class="container">
      <div class="content">
        I freely admit that I am <b>obsessed</b> with modern/designer board games. I have a sizable collection of game and I add to it more frequently that I should.  I track the games that I own and the games that I play on <a href="https://boardgamegeek.com">BoardGameGeek</a>, and this page chronicles my addition.
      </div>
      <div id="app">
      </div>
    </div>
  </section>

</body>

</html>