<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Board Games</title>
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon.png">
    <link href="/images/favicon.png" rel="shortcut icon">
  </head>
  <body>
    <div id="app"></div>
    <div></div>
  </body>
</html>