<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board Games</title>
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon.png">
  <link href="/images/favicon.png" rel="shortcut icon">
  <script src="https://use.fontawesome.com/c5e6d82c20.js"></script>
</head>

<body>
  <nav class="nav" id="masthead">
    <div class="container">
      <div class="nav-left">
        <div class="nav-item">
          <div class="logo"><span class="slashes">// </span>
            <a href="https://blog.ewal.net">Ewal.net</a></div>
          <div class="description is-hidden-mobile">Chronicles of a board game addict...</div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section" id="intro">
    <div class="container">
      <div class="content">
        I freely admit that I am <i>obsessed</i> with modern/designer board games. I have a sizable collection of game and I add to it more frequently that I should.  I track the games that I own and the games that I play on <a href="https://boardgamegeek.com">BoardGameGeek</a>, and this page chronicles my addiction.
      </div>
      <div id="app">
        <div class="button is-loading"></div>
      </div>
    </div>
  </section>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '58825bfcc88d9013770c8cf7');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(101014257);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101014257ns.gif" /></p></noscript>

</body>
</html>