$blue: #268bd2;
$primary: $blue;

@import "~bulma/bulma.sass";

html {
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

#masthead {
    background-color: #fcfcfc;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    position: fixed;
    top:0;
    width: 100%;
    color: #999;

    a {
        color: $blue;
        &:hover {
            text-decoration: none;
        }
    }

    .nav-item {
        align-items: baseline;
    }

    .logo {
        font-size: 1.6rem;
    }

    .slashes {
        color: #777;
    }

    .description {
        margin-left: 1em;
    }
}

#intro {
    margin-top: 40px;
}

