$tablet: 768px;
$blue: #268bd2;
$primary: $blue;
$table-border: #eee;

@import "~bulma/bulma.sass";

html {
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

.section {
    padding: 2rem 1rem;
    @include tablet {
        padding: 3rem 1.5rem;
    }
}

.title:not(:last-child) {
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom: 1.5rem;
    }
}

.table {
    thead {
        th {
            font-weight: 600;
            color: $text;
            border-width: 0 0 1px;
        }
    }
}

#masthead {
    background-color: #fcfcfc;
    border-bottom: 1px solid #ececec;
    width: 100%;
    color: #999;

    a {
        color: $blue;
        &:hover {
            text-decoration: none;
        }
    }

    .nav-item {
        align-items: baseline;
    }

    .logo {
        font-size: 1.6rem;
    }

    .slashes {
        color: #777;
    }

    .description {
        margin-left: 1em;
    }
}

#intro {
    padding-top: 1.5rem;
}

div.button {
    border: none;
}

.subsection {
    margin-bottom: 1.5rem;
}

.stats {
    .column {
        @include tablet{
            padding-top: 0;
        }
    }
}

.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    height: 110px;

    &.full-height {
        height: auto;
    }

    img {
        display: inline-block;
        height: 110px;
        width: auto;
    }

    img:hover {
        opacity: 0.85;
    }

    a {
        line-height: 0;
        margin: 2px;
    }
}

.title {
    @include tablet {
        margin-top: 2rem;
    }

    .fa {
        vertical-align: bottom;
        font-size: 14px;
        margin-bottom: 1px;
    }

    .title-link {
        display: inline-block;
        margin-left: 0.3em;
    }

    a {
        color: #ccc;
        &:hover {
            color: $link;
        }
    }
}

.fa {
    font-size: 1em;
}

.recent-plays {
    margin: 0 -1rem 1.5rem -1rem;
    @include tablet {
        margin: 0 0 1.5rem 0;
    }

    table {
        @include tablet{
            width: auto;
            min-width: 90%;
        }
    }

    td {
        white-space: nowrap;

        @include tablet {
            padding-left: 1em;
            padding-right: 1em;
        }

        &.name, &.players-column {
            white-space: inherit;
        }
    }

    a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }

    .players {
        display: inline-block;
        align-items: center;

        img {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-left: 2px;
        }
    }

    .player {
        display: inline-flex;
        align-items: center;
    }

    .plays-list {
        border-top: 1px solid $table-border;
        line-height: normal;
    }

    .play {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $table-border;

        &:hover {
            background-color: $table-row-hover-background;
        }
        
        &:nth-child(even) {
          background-color: $table-row-even-background;

          &:hover {
            background-color: $table-row-even-hover-background;
          }
        }

        .columns {
            margin-bottom: 0;
        }

        .column + .column {
            padding-left: 0.75rem;
        }
        
        .location {
            color: #888;
        }

        .players {
            color: $text;
        }
    }

    .winner {
        font-weight: 500;
        color: #0a0;
    }
}

.collection {
    margin: 0 -1rem 1.5rem -1rem;
     @include tablet {
        margin: 0 0 1.5rem 0;
    }

    table {
        @include tablet{
            width: auto;
            min-width: 90%;
        }
    }

    td, th {
        &:first-child {
            padding-left: 1em;
        }

        &:last-child {
            padding-right: 1em;
        }
    }

    td {
        white-space: nowrap;

        &.name {
            white-space: inherit;
        }

        &.rating {
            text-align: center;
            @include tablet {
                text-align: left;
            }
        }
    }

    th {
        a {
            color: $text;
        }
    }

    .expansions {
        display: none;
        position: relative;
        @include desktop {
            display: inline-block;
        }
    }

    .expansions-tip {
        position: absolute;
        z-index: 3;
        white-space: nowrap;
        bottom: 0;
        left: 100%;
        margin-bottom: 0;
        margin-left: 10px;
        opacity: 0;
        visibility: hidden;
    }

    .expansion-count:hover + .expansions-tip {
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 1;
        visibility: visible;
    }

    .expansion-count {
        display: inline-block;
        cursor: default;
        color: #999;
        margin-left: 15px;
        font-size: 0.9em;
        border-bottom: 1px dotted #ddd;
    }

    .stars-container {
        display: inline-block;
        position: relative;
    }

    .stars-background {
        color: #ccc;
    }

    .stars-foreground {
        color: rgba(255,190,0,0.4);
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

}