@import "../../../variables";

.players {
	display: inline-block;
	align-items: center;
	color: $text;

	img {
		display: inline-block;
		height: 20px;
		width: 20px;
		margin-left: 2px;
	}
}

.player {
	display: inline-flex;
	align-items: center;
}

.new {
	font-style: italic;
	// color: #26a69a;
}

.winner {
	font-weight: 600;
	// color: #0a0;
}

.winner:after {
	content: "🏅";
	opacity: 0.6;
	font-style: normal;
	font-size: 0.85rem;
}
