@import "../../../variables";
@import "../SharedStyles";

.recent-plays {
	@include table-styles;

	margin: 0 -1rem 1.5rem -1rem;

	@include tablet {
		margin: 0 0 1.5rem 0;
	}

	a {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
	}
}
